@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #6DEDCD, #8cad6a);
}

h1 {
    color: #586DD6;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(84, 102, 194, 0.877);
}

h2 {
    color: #F366FA;
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(171, 79, 79, 1);
    width: 600px;
    padding: 10px;
    margin: auto;
}
